In [6]:
from bs4 import BeautifulSoup
import urllib
import pandas as pd

In [7]:
data = pd.read_csv("movieInfo.csv")

In [8]:
data.head()

   Unnamed: 0          movieNm   naverCd      openDt
0    20137048             국제시장  102875.0  2014-12-17
1    20143642            테이큰 3  109982.0  2015-01-01
2    20149859        마다가스카의 펭귄  114276.0  2014-12-31
3    20141111  님아, 그 강을 건너지 마오  130013.0  2014-11-27
4    20149265             기술자들  117790.0  2014-12-24

In [9]:
data.tail()

      Unnamed: 0                          movieNm   naverCd      openDt
1045    20183375                극장판 포켓몬스터 모두의 이야기  172187.0  2018-12-19
1046    20170658                        PMC: 더 벙커  166092.0  2018-12-26
1047    20183479  극장판 짱구는 못말려: 아뵤! 쿵후 보이즈 ~라면 대란~  172975.0  2018-12-19
1048    20186281                              범블비  164139.0  2018-12-25
1049    20183785            점박이 한반도의 공룡2 : 새로운 낙원  180379.0  2018-12-25